{{#extend 'base'}}
  {{#content 'body'}}
    {{> nav }}
    <h1>{{entry.title}}</h1>

    {{entry.name}}

    <div class="entries">
      {{#each flint.entries}}
        <a href="/{{slug}}" style="color: {{color}}">{{title}}</a>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}