<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{title}} | {{/if}}Flint</title>
</head>
<body>
  {{> nav }}
  <h1>{{title}}</h1>

  {{name}}

  {{#if entries}}
    {{#each entries}}
      <a href="/{{this.slug}}">{{this.title}}</a>
    {{/each}}
  {{/if}}


</body>
</html>